html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	/* background-color: #f3f3f3; */
	height: 100%;
	/* background-color: #000000; */
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	font-size: 20px;
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

div#__next,
div#__next > div {
	height: 100%;
}
